.cache
.classpath
.project
.settings
.DS_Store
.idea
*.iml
target
build/
temp*
*no-such-element.*
test-*
log4j*.xml
*/out/*
/*/bin
.vscode
.flattened-pom.xml
!gradle-wrapper.jar
/.gradle/
*.log
*.jrnl

